<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="yuanmu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <yuanmu.Properties.Settings>
            <setting name="LastHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinInTaskBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#0078D7</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#3C3C3C</value>
            </setting>
            <setting name="ShortcutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PingTop" serializeAs="String">
                <value>False</value>
            </setting>
        </yuanmu.Properties.Settings>
    </userSettings>
</configuration>
